In [1]:
elem = [1,2,3,4,5,6]
if type(elem) == list or type(elem) == tuple or type(elem) == str:
    internal_idx = 0
    while internal_idx < len(elem):
        print(elem[internal_idx])
        internal_idx += 1
      
else:
    print(elem)

1
2
3
4
5
6

In [7]:
test_fun(1,2,3)

6

In [16]:
 sum = 0
s  = int(input("Enter start value :"))
e = int(input("Enter end value :"))
for i in range(s ,e+1):

        sum = sum+i
print(sum)

360

In [4]:
def test_fun(param1, param2, *params):
    tmp = 1
    for i in params:
        tmp *= i
    return param1 *param2 * tmp

In [12]:
list1 = [41,2,12,6,35,8,10,1,19]
n = len(list1)

for i in range(n):
 for j in range(i+1 , n): 
    if list1[i] > list1[j]:
        list1[i],list1[j]= list1[j],list1[i]
print(list1)

[1, 2, 6, 8, 10, 12, 19, 35, 41]

In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\archive\\final_job_list.csv")
count = df['Location'].value_counts()
highestcount = count.idxmax()
df[df['Location'] == highestcount]

,Title,Company,Location,Type of Positions,Job Description,Salary,Identified_Skills
0,"Staff Applied Scientist, Marketplace",ThredUp Inc.,CA,Full-time,\nAbout thredUP thredUP is transforming resale...,190000.0,"['python', 'machine learning', 'aws', 'sql']"
13,Statistician (Direct Hire Authority),US Food and Nutrition Service,CA,Full-time,"\n\nDuties\n\nDevelops, analyzes and evaluates...",121873.0,[]
15,"Senior Data Scientist, 5+ Years of Experience",Snapchat,CA,Full-time,\n\n\n Snap Inc.\n is a camera company. We...,174000.0,"['python', 'machine learning', 'sql']"
18,"Sr. Risk Adjustment Data Analyst, Medicare Adv...",UCLA Health,CA,Full-time,\n\nDescription\n Take on a key role within an...,78800.0,"['python', 'tableau', 'sql']"
22,"Sr. Director, Data Science and Machine Learning",Centerfield,CA,Full-time,"\n\nHi, We're Centerfield. \n\n\n Super-power...",125000.0,"['machine learning', 'tableau']"
...,...,...,...,...,...,...,...
682,Senior Staff AI Data Engineer,Recruiting From Scratch,CA,Full-time,\n\n\nWho is \nRecruiting from Scratch \n: \n\...,160000.0,"['python', 'pandas', 'machine learning', 'aws'..."
683,Senior Staff AI Data Engineer,Recruiting From Scratch,CA,Full-time,\n\n\nWho is \nRecruiting from Scratch \n: \n\...,160000.0,"['python', 'pandas', 'machine learning', 'aws'..."
685,Senior Staff AI Data Engineer,Recruiting From Scratch,CA,Full-time,\n\n\nWho is \nRecruiting from Scratch \n: \n\...,160000.0,"['python', 'pandas', 'machine learning', 'aws'..."
690,Senior Staff AI Data Engineer,Recruiting From Scratch,CA,Full-time,\n\n\nWho is \nRecruiting from Scratch \n: \n\...,160000.0,"['python', 'pandas', 'machine learning', 'aws'..."
691,Senior Staff AI Data Engineer,Recruiting From Scratch,CA,Full-time,\n\n\nWho is \nRecruiting from Scratch \n: \n\...,160000.0,"['python', 'pandas', 'machine learning', 'aws'..."

In [23]:
s = "itininiytnnhhn" 
ch = {}
for i in s:
    if i in ch:
        ch[i] += 1
        print(ch[i])
    else:
        ch[i] = 1
        print(ch[i],"else")
# print(ch)
#{'i': 4, 't': 2, 'n': 5, 'y': 1, 'h':2} 
max_char = max(ch, key = ch.get)
print (max_char)

1 else
1 else
2
1 else
3
2
4
1 else
2
3
4
1 else
2
5
n