In [2]:
#Invantory 
inventory: any= {
    "potato":[10,2,'kg'],
    
}

In [3]:
#integer addition 
a= 10
b= 20 
c= 'Hii'
print(a+b)

30

In [4]:
#Integer division 
a= 320
b= 60

print(a//b)

5

In [5]:
# tupple and integer multiplicatoin 
a = (1,2,3,)
b  = 2
print(a*b)

(1, 2, 3, 1, 2, 3)

In [6]:
print(1,'Ture' and 'True')
print(2,'True' and 'False')
print(3,'True' or 'False')
print(4,'False' or 'False')
print(5,not 'True')
print(6,not "True" and "False")
print(7,not "True" or "Flase")

1 True
2 False
3 True
4 False
5 False
6 False
7 Flase

In [7]:
# list  and integer 
a = [1,2,3]
b = 1 
print(a*b)

[1, 2, 3]

In [8]:
#set and integer 
a = {1,2,3}
b = 2
print(a*b)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
#Dictionary and integer 
a ={"Harsh":"Solanki"}
b=1 
print(a*b)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [ ]:
input_ = "This is a test string to test the candidate"
index = input_.find("is")
if index != -1:
    result = input_[:index] + input_[index+len(" is"):]
    print(result)
else:
    print(input_)

This a test string to test the candidate

In [ ]:
input_[:index]

'Th'

In [ ]:
#Integer and Float addtion 
a = 100 
b = 1.1
print(a+b)

101.1

In [ ]:
#character addition 
a = 'z'
b = 'y'
print(a+b)

zy

In [ ]:
#Character and Integer Multiplication 
a = 'x'
b = 2
print(a*b)

xx

In [ ]:
#Character and float division 
a='x'
b= 1.5
print(b/a)

TypeError: unsupported operand type(s) for /: 'float' and 'str'